:root {
    --success: #42c388;
    --light-blue: #596fda;
    --light-pink: #ff70a5;
    --white: #FFF;
    --color-none: none;
    --black: #000;
    --border: #e8e8e8;
    --box-shadow: #a09e9e;
    --grey-price: #a09e9e;
    --star-color: #ffd500;
}

.m0 {margin:0px;}
.p0 {padding:0px;}
.ml0 {margin-left: 0px !important;}
.br0 {border-radius: 0px;}
.mb5 {margin-bottom:5px !important;}
.ml5 {margin-left: 5px;}
.pointer {cursor: pointer;}
.no-gutter {margin:0px;padding:0px;}
.alert-success {background:var(--success) !important;border-color:var(--success) !important;color:#FFF;}

.header-nav {background: var(--light-pink);color: var(--white);border-bottom: 1px solid #f1f1f1;box-shadow: 4px 1px 1px 1px #CCC;}
.header-nav li a {padding: 5px 0;color:var(--white);margin:0 10px;text-transform: uppercase;}
.header-nav li a:hover {background:var(--light-pink);color:var(--white);text-decoration: underline;}

.light-blue {color: var(--light-blue);}
.light-pink {color: var(--light-pink);}
.f36 {font-size:36px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}

.main-nav .navbar-brand {margin-left: 0px;padding-left: 0px;}

/* Main Header with Search Navigation */
.search-nav li.form form {width:100%;padding:0;}
.search-nav li.form form input {width:75% !important;border-radius:0px;border-color:var(--light-pink);padding:20px 10px;}
.search-nav li.form form button {width:20% !important;border-radius:0px;border-color:var(--light-pink);padding:10px 10px;}
.search-nav li.form form input:focus {border-color:var(--light-pink);box-shadow:none;}
.search-nav li.form form button:hover {background-color:var(--light-pink);color:var(--white);border-color:var(--light-pink);}
.main-nav .navbar {margin-bottom:0px !important;}
.fa.fa-shopping-cart {font-size:28px;color:var(--light-blue);}
.mt15 {margin-top:15px;}
.cart-icon a:hover {background:var(--color-none) !important;}

/* Header Navigation */
.header-main-nav {background: var(--light-blue);margin-top:5px;}
.header-main-nav ul.navbar-nav li a {padding:15px 0;margin:0px 10px;text-transform: uppercase;color:var(--white);}
.header-main-nav ul.navbar-nav li a:hover {background:var(--light-blue);}
.header-main-nav .categories a {padding:15px 5px !important;color:var(--white) !important;margin-left:0px !important;font-size:14px;text-transform: uppercase !important;font-family: Verdana, 'Segoe UI', Geneva, sans-serif;}
.header-main-nav .categories .open a {background: var(--light-blue);}
.header-main-nav .categories a:hover, .header-main-nav .categories a:focus {background:var(--light-blue) !important;color:var(--white) !important;}

/* Categories Menu */
.categories > .dropdown:hover > .dropdown-menu.dropdown-categories {display:block;}
.dropdown-categories {background:var(--white) !important;padding:0px !important;}
.dropdown-menu {width:245px;}
.dropdown-categories .fa.fa-angle-right {float:right;vertical-align: middle;position: relative;top: 2px;}
.header-main-nav .dropdown-categories li a {background:var(--white) !important;color:var(--black) !important;margin-right:0px !important;padding:5px 10px !important;font-weight: normal;}
.header-main-nav .dropdown-categories li a:hover {color:var(--white) !important;}

/* Dropdown Submenu */
.dropdown-submenu {position: relative;}
.dropdown-submenu .dropdown-menu {top: 0;left: 100%;margin-top: -1px;padding:0px;}
.dropdown-submenu:hover > .dropdown-menu {display: block;}

/* Breadcrumbs */
.breadcrumb {background: var(--white);padding:10px 0px;margin-bottom:0px;}
.breadcrumb a {color:var(--light-blue);}

/* Slider */
.carousel.slide .carousel-indicators li {background:#e8e4e4;border:1px solid var(--light-blue);}
.carousel.slide .carousel-indicators li.active {background:#FFF;border:1px solid var(--light-pink);}
.carousel.slide .carousel-inner img {height: 400px;width:100%;}
.carousel.slide .carousel-control {display:none;}

/* Products */
.category-name {background:var(--light-blue);display:inline-block;padding:10px;border:1px solid var(--light-blue);color:var(--white);border-bottom-left-radius: 10px;border-top-right-radius: 10px;}
.category-name a {background:var(--light-blue);color:var(--white);text-decoration: none;}
.category-all {padding: 10px 0 10px 10px;}
.category-all a {color: var(--light-blue);font-size:14px;font-weight: bold;}
.category-products .product-box {padding:0px;}
.category-products > .product-box.row-first-child > .product-item {margin-left:0px;}
.category-products > .product-box.row-last-child > .product-item {margin-right:0px;}
.product-item {border: 1px solid var(--border);padding:0px;margin:0px 5px;}
.product-item:hover {box-shadow:1px 1px 1px 1px var(--box-shadow);border:1px solid var(--border)}
.product-item img {width:100%;height:216px;}
.product-item .product-row {padding:5px 10px;}
.product-item .product-title a {color: var(--light-blue);text-decoration:none;}
.product-item .product-row .product-price {margin-bottom: 0px;font-size: 18px;color: var(--light-pink);}
.product-item .product-row .cut-price {color:var(--grey-price);font-size:16px;text-decoration: line-through;}

/* Footer */
.footer {background:var(--light-blue);margin-top:20px;color:var(--white);}
.footer .footer-block ul {list-style: none;padding-left:15px;}
.footer .footer-block ul.footer-mt {margin-top:20px;}
.footer .footer-block h3, .footer .footer-block a {color:var(--white);}
.footer .footer-block h3 {font-size:18px;border-bottom:4px solid var(--light-pink);padding-bottom:5px;border-bottom-left-radius: 10px;}
.footer .footer-block a {font-size:14px;}
.copyright-text p {text-align: center;margin:5px 0;}
.copyright-text a {color:var(--light-blue);font-weight: bold;}

/* Page Title */
.page-title h1 {border-bottom:4px solid var(--light-blue);display: inline-block;padding-bottom:5px;margin-bottom:20px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

/* Page Content */
.page-content p {text-align: justify;}
.page-content a {color:var(--light-blue);font-weight: bold;text-decoration: none;font-style: italic;}
.page-content blockquote {margin-bottom: 10px;border-left-color: var(--light-blue);}
.page-content img {max-width:100%;max-height:100%;}
.page-content iframe {height:400px;}

/* Detail Page */
.product-detail {margin: 20px 0;}
.flex-viewport {max-height: 600px !important;height: 100% !important;}
.flex-viewport img {width:100% !important;height:500px !important;}
.flex-control-thumbs li {width:10%;}
.product-title h1 {font-size:22px;}
.product-summary {padding-left: 0px;}
.product-rating .stars .fa-star, .product-rating .stars .fa-star-o {color: var(--star-color);}
.product-rating .stars a {color: var(--light-blue);}
.product-summary .product-price {color: var(--light-pink);font-size:24px;margin-top: 20px;}
.product-summary .cut-price {color: var(--grey-price);font-size:16px;text-decoration: line-through;}
.product-summary .prices {margin: 65px 0;}
.product-summary .product-icons a {color: var(--light-blue);font-size: 24px;margin: 10px;display: inline-block;}
.product-summary .quantity .text {font-size: 18px;}
.product-summary .quantity {font-size:16px;color: var(--grey-price);margin: 10px 0px;}
.product-summary .quantity .quantity-fields {margin-left: 20px;}
.product-summary .quantity .quantity-fields i {border: 1px solid var(--light-blue);padding:8px;color: var(--light-blue);}
.product-summary .quantity .quantity-fields input {padding: 5px 10px;border: 1px solid var(--light-blue);width:70px;}
.product-summary .btns .btn {padding: 10px 20px;}
.product-detail .tab-heading {font-weight: bold;}
.product-summary .in-stock span {color: var(--grey-price);}
.product-summary .in-stock a {color: var(--light-blue);}
.product-detail .product-box {margin-bottom: 10px;}
.related-items h5.tab-heading {font-weight: bold;}
.product-detail .best-seller {border-left: 1px solid var(--border);}

/* Login Page */
.login-page input {border-radius: 0px;border-color: var(--light-blue);box-shadow: none;}
.login-page input:focus {box-shadow: none;border-color: var(--light-blue);}

/* Signup Page */
.register-page input {border-radius: 0px;border-color: var(--light-blue);box-shadow: none;}
.register-page input:focus {box-shadow: none;border-color: var(--light-blue);}

/* Contact Page */
.address-info p a {color: var(--light-blue);}
.address-info .google-map iframe {height: 250px;}
.contact-form .first {padding-left: 0px;}
.contact-form .last {padding-right: 0px;}
.contact-form form input, .contact-form form textarea {border-radius: 0px;padding: 5px 10px;}
.contact-form form input:focus, .contact-form form textarea:focus {border:1px solid var(--light-blue);box-shadow: none;}
.field-contactform-verifycode label {display: block;}

/* Buttons */
.btn-boostnow {background:var(--light-blue);box-shadow:none;border-radius: 0px;border: 1px solid var(--light-blue);}
.btn-boostnow:hover, .btn-boostnow:focus, .btn-boostnow:active:focus, .btn-boostnow:active {border-color: var(--light-pink);background: var(--light-blue);}
.btn-cart {background: var(--light-pink);box-shadow:none;border-radius: 0px;border: 1px solid var(--light-pink);}
.btn-cart:hover, .btn-cart:focus, .btn-cart:active:focus, .btn-cart:active {border-color: var(--light-blue);background: var(--light-pink);}

/* screens with minimum width 992px or above */
@media only screen and (min-width: 992px) {
    .search-nav {width: 100%;}
    .search-nav li.form {width:60%;}
}

/* screens with maximum width 991px or below */
@media only screen and (max-width: 991px) {
    .search-nav {width: 100%;}
    .search-nav li.form {width:80%;}
}

/* screens with maximum width 767px or below */
@media only screen and (max-width: 767px) {
    .navbar-right {float:left;}
    .search-nav {width: 100%;}
    .search-nav li {display:inline-block;vertical-align: middle;}
    .search-nav li.form {width:75%;}
    .search-nav li.form form input {display:inline-block;}
    .page-content iframe {height:300px;}

    /* dropdown menu */
    .dropdown-menu {width:100%;}
    .dropdown-categories.dropdown-menu {position: relative;}
    /* dropdown-submenu */
    .dropdown-submenu .dropdown-menu {width:100%;position: relative;left:0%;box-shadow: none;padding: 0px 25px;}

    .category-products > .product-box.row-first-child > .product-item {margin-left:5px;}
    .category-products > .product-box.row-last-child > .product-item {margin-right:5px;}

    /* Detail Page */
    .flex-viewport {max-height: 400px !important;height: 100% !important;}
    .flex-viewport img {width:100% !important;height:400px !important;}
    .product-summary {padding-left: 15px;}
    .product-detail .best-seller {border-left: 0px;}
    .product-item {text-align: center;margin-bottom:10px;}
    .product-item img, .product-detail .related-items .product-item img {width: auto;text-align: center;display:block;margin: 0 auto;}
    .related-items .tab-heading {text-align: center;}
}

/* screens with maximum width 500px or below */
@media only screen and (max-width: 500px) {
    .search-nav {margin:0px;padding:0px;}
    .search-nav li.form {width:100%;margin:0px;padding:0px;}
    .search-nav li.form form {margin:0px;}
    .search-nav li.form form button {margin-top:5px !important;}
    .search-nav li.form form input, .search-nav li.form form button {display:block;margin-right: 0px !important;width: 100% !important;}
    .cart-icon {width:100%;text-align: center;}
    .page-content iframe {height:250px;}
    
    /* Detail Page */
    .flex-viewport {max-height: 300px !important;height: 100% !important;}
    .flex-viewport img {width:100% !important;height:300px !important;}
}

/* screens with maximum width 300px or below */
@media only screen and (max-width: 300px) {
    /* Detail Page */
    .flex-viewport {max-height: 250px !important;height: 100% !important;}
    .flex-viewport img {width:100% !important;height:250px !important;}
}